@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700&display=swap);

html {
  font-size: 100%;
  font-weight: 400;
}

.blue-bold {
  font-weight: 700;
  color: #036eb4;
}

body { font-family: 'Lato', sans-serif; }
h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}
h1, strong {
  font-weight: 700;
}
h2, h3 {
  font-weight: 400;
}

.remark-slide {
  display: block;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: #4D545D;
}
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
.remark-slide-content {
  display: block;
  box-sizing: border-box;
  height: 100%;
  line-height: 1.25;
  padding: 1rem 2.5rem 0 2.5rem;
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
}
.remark-slide-content * {
  box-sizing: border-box;
}
.remark-slide-content.debug * {
  outline: 1px solid gold;
}
.remark-slide-content.debug-white * {
  outline: 1px solid white;
}
.remark-slide-content.debug-black * {
  outline: 1px solid black;
}
.remark-slide-content.debug-grid {
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAFElEQVR4AWPAC97/9x0eCsAEPgwAVLshdpENIxcAAAAASUVORK5CYII= ) repeat top left;
}
.remark-slide-content.debug-grid-16 {
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMklEQVR4AWOgCLz/b0epAa6UGuBOqQHOQHLUgFEDnAbcBZ4UGwDOkiCnkIhdgNgNxAYAiYlD+8sEuo8AAAAASUVORK5CYII= ) repeat top left;
}
.remark-slide-content.debug-grid-8-solid {
  background: white url(data:image/gif;base64,R0lGODdhCAAIAPEAAADw/wDx/////wAAACwAAAAACAAIAAACDZQvgaeb/lxbAIKA8y0AOw== ) repeat top left;
}
.remark-slide-content.debug-grid-16-solid {
  background: white url(data:image/gif;base64,R0lGODdhEAAQAPEAAADw/wDx/xXy/////ywAAAAAEAAQAAACIZyPKckYDQFsb6ZqD85jZ2+BkwiRFKehhqQCQgDHcgwEBQA7 ) repeat top left;
}
.remark-slide-content h1 {
  font-size: 2.75rem;
}
.remark-slide-content h2 {
  font-size: 2.5rem;
}
.remark-slide-content h3 {
  font-size: 2.25rem;
}
.remark-slide-content li {
  font-size: 1.5rem;
  font-weight: 300;
}
.remark-slide-content li:not(:first-child) {
  padding-top: 1rem;
}
.remark-slide-content li li {
  font-size: 1.3rem;
}
.remark-slide-content li li:not(:first-child)  {
  padding-top: 0.5rem;
}
.remark-slide-content pre code {
  font-size: 1rem;
  line-height: 1.1;
}
.remark-slide-content.compact {
  padding: 1rem 2rem 0 2rem;
  font-size: 1.4rem;
}
.remark-slide-content.compact h1 {
  font-size: 2.4rem;
}
.remark-slide-content.compact h2 {
  font-size: 2.2rem;
}
.remark-slide-content.compact h3 {
  font-size: 1.8rem;
}
.remark-slide-content.compact li {
  font-size: 1.3rem;
  font-weight: 300;
}
.remark-slide-content.compact h1,
.remark-slide-content.compact h2,
.remark-slide-content.compact h3 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
.remark-slide-content.compact pre,
.remark-slide-content.compact code,
.remark-slide-content.compact kbd,
.remark-slide-content.compact tt,
.remark-slide-content.compact samp {
  font-size: 0.9rem;
}
.remark-slide-content.compact code.remark-inline-code {
  font-size: 1.3rem;
}
.remark-slide-content.roomy {
  padding: 20px 80px 0 80px;
  font-size: 2.25rem;
}
.remark-slide-content.roomy h1 {
  font-size: 4rem;
}
.remark-slide-content.roomy h2 {
  font-size: 2.75rem;
}
.remark-slide-content.roomy h3 {
  font-size: 2.5rem;
}
.remark-slide-content.roomy pre,
.remark-slide-content.roomy code,
.remark-slide-content.roomy kbd,
.remark-slide-content.roomy tt,
.remark-slide-content.roomy samp {
  font-size: 1.5rem;
}
.remark-slide-content.title h1 {
  font-size: 4rem;
}
.remark-slide-content.title h2 {
  font-size: 3rem;
}
.remark-slide-content.title h3 {
  font-size: 2.25rem;
}
.remark-slide-content img {
  max-width: 100%;
}
.remark-slide-content h1,
.remark-slide-content h2,
.remark-slide-content h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.remark-slide-content table,
.remark-slide-content .katex {
  font-size: 85%;
}
.remark-slide-content.fullbleed,
.remark-slide-content.fullbleed > p {
  margin: 0;
  padding: 0;
}
.remark-slide-content.title {
  text-align: center;
  background-size: cover;
}

.remark-slide-content.title .remark-slide-number {
  display: none;
}

.remark-slide-content.title h1,
.remark-slide-content.title h2,
.remark-slide-content.title h3 {
  position: absolute;
  width: 100%;
  left: 0;
  margin: 0;
  padding: 1em 0;
  font-weight: normal;
  color: #ffffff;

}
.remark-slide-content.title h1 {
  top: calc(50% - 2.5em);
}
.remark-slide-content.title h2 {
  top: calc(50% - 1em);
}
.remark-slide-content.title h3 {
  top: calc(50% - 0.5em);
}
.remark-slide-content.title.top h1 {
  top: calc(681px * 0.3 - 2.5em);
}
.remark-slide-content.title.top h2 {
  top: calc(681px * 0.3 - 1em);
}
.remark-slide-content.title.top h3 {
  top: calc(681px * 0.3 - 0.5em);
}
.remark-slide-content.title.bottom h1 {
  top: calc(681px * 3/4 - 2.5em);
}
.remark-slide-content.title.bottom h2 {
  top: calc(681px * 3/4 - 1em);
}
.remark-slide-content.title.bottom h3 {
  top: calc(681px * 3/4 - 0.5em);
}
.remark-slide-content.title.shelf > h1 {
  padding-bottom: 2.25em;
  margin-bottom: -1.75em;
}
.remark-slide-content.img-caption {
  text-align: center;
}
.remark-slide-content.img-caption > p:first-of-type {
  padding: 0px;
  margin: 0px;
}
.remark-slide-content.img-caption > p:first-of-type > img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.remark-slide-content.img-right > p:first-of-type {
  height: 100%;
  float: right;
  width: calc(50% - 1rem);
  margin-left: 2rem;
  margin-top: 0px;
  padding: 0px;
}
.remark-slide-content.img-left > p:first-of-type {
  height: 100%;
  float: left;
  width: calc(50% - 1rem);
  margin-right: 2rem;
  margin-top: 0px;
  padding: 0px;
}
.remark-slide-content.img-left > ul,
.remark-slide-content.img-left > ol,
.remark-slide-content.img-left > blockquote {
  overflow: auto;
}
.remark-slide-content.img-right-full {
  padding-right: calc(40% + 2rem);
}
.remark-slide-content.img-right-full > p:first-of-type {
  margin: 0px;
  padding: 0px;
}
.remark-slide-content.img-right-full > p:first-of-type > img {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 40%;
  object-fit: cover;
  object-position: left;
}
.remark-slide-content.img-left-full {
  padding-left: calc(40% + 2rem);
}
.remark-slide-content.img-left-full > p:first-of-type {
  margin: 0px;
  padding: 0px;
}
.remark-slide-content.img-left-full > p:first-of-type > img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 40%;
  object-fit: cover;
  object-position: right;
}
.remark-slide-content.col-2 {
  columns: 2;
  padding-top: 136px;
  column-gap: 1.5em;
}
.remark-slide-content.col-2 > h1:first-of-type {
  position: absolute;
  margin-top: 0px;
  top: 44px;
  left: 80px;
}
.remark-slide-content.col-2.compact {
  padding-top: 136px;
}
.remark-slide-content.col-2.compact > h1:first-of-type {
  top: 42px;
  left: 40px;
}
.remark-slide-content.col-2.roomy {
  padding-top: 168px;
}
.remark-slide-content.col-2.roomy > h1:first-of-type {
  top: 52px;
  left: 80px;
}
.remark-slide-content.col-2 *:nth-child(2) {
  margin-top: 0px;
}
.remark-slide-content.col-2 > ul,
.remark-slide-content.col-2 > ol {
  break-inside: avoid;
  page-break-inside: avoid;
}
.remark-slide-content.col-3 {
  columns: 3;
  padding-top: 136px;
  column-gap: 1.5em;
}
.remark-slide-content.col-3 > h1:first-of-type {
  position: absolute;
  margin-top: 0px;
  top: 44px;
  left: 80px;
}
.remark-slide-content.col-3.compact {
  padding-top: 136px;
}
.remark-slide-content.col-3.compact > h1:first-of-type {
  top: 42px;
  left: 40px;
}
.remark-slide-content.compact ul,  .remark-slide-content.compact ol {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
 }

 .remark-slide-content.compact ul ul, .remark-slide-content.compact ul ol {
  margin-block-start: 0.25rem;
  margin-block-end: 0.25rem;
 }
.remark-slide-content.col-3.roomy {
  padding-top: 168px;
}
.remark-slide-content.col-3.roomy > h1:first-of-type {
  top: 52px;
  left: 80px;
}
.remark-slide-content.col-3 *:nth-child(2) {
  margin-top: 0px;
}
.remark-slide-content.col-3 > ul,
.remark-slide-content.col-3 > ol {
  break-inside: avoid;
  page-break-inside: avoid;
}
.remark-slide-content .remark-slide-number,
.remark-slide-content .footer li {
  font-size: 1.25rem;
  display: block;
  list-style: none;
  position: absolute;
  bottom: 12px;
  height: 30px;
  margin: 0px;
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.remark-slide-content .footer,
.remark-slide-content .footer ul {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  color: #289CE1;
  font-size: smaller;
}
.remark-slide-content .footer li:nth-child(1) {
  left: 20px;
}
.remark-slide-content .footer li:nth-child(2) {
  left: 50%;
  margin-left: -50px;
}
.remark-slide-content .footer li img {
  display: block;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.remark-slide-content.no-footer .remark-slide-number,
.remark-slide-content.no-footer .footer {
  display: none;
}

.remark-slide-content .header {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 8px;
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(135deg,#279be0,#036eb4)
}
.one-third-up img {
  margin-top: 30%;
}
.remark-slide-content .remark-slide-number, .remark-slide-content .footer li {
  font-size: 0.9rem;
}
.remark-code, .remark-inline-code {
  font-family: 'Robot Mono', monospace;
}

.no-bullet  ul {
  list-style-type: none;
 }

 .badge-red {
  background-color: #d32f2f;
  border-radius: .45rem;
  color: #fff;
  padding: 3px 8px 3px 8px;
  font-size: 1.2rem;
  font-weight: 300;
  position: absolute;
  margin-left: 10px;
 }

 h3 .badge-red {
  padding: 2px 6px 2px 6px;
  font-size: 1rem;
  margin-left: 8px;
 }

ul, ol {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
 }

 ul ul, ul ol {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
 }

 .img-left {
   float: left;
   margin-right: 1rem;
   max-width: 48%;
   padding-right: 1rem;
 }
 .img-left img {
   margin-top: 2rem;
 }

 .img-right {
   float: right;
   margin-left: 1rem;
   max-width: 48%;
   padding-left: 1rem;
 }
 .img-right img {
  margin-top: 2rem;
}

 p {
   margin-block-start: 0;
   margin-block-end: 0;
 }

 .smaller {
   font-size: smaller;
 }